/*
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}*/
html {
  height: 100%;
}
body,
*,
*:before,
*:after {
  box-sizing: border-box;
}
[fit=""] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
}
img[fit=""] {
  width: 100%;
  height: 100%;
}
body[fullbleed=""] {
  margin: 0;
  height: 100vh;
}
[fill=""],
:not(body)[fullbleed],
[fullbleed=""] {
  width: 100%;
  height: 100%;
}
[fullwidth=""] {
  width: 100%;
}
[halfwidth=""] {
  width: 50%;
}
[fullheight=""] {
  height: 100%;
}
[halfheight=""] {
  height: 50%;
}
[nopadding=""] {
  padding: 0;
}
[nomargin=""] {
  margin: 0;
}
.fx-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.fx-fixed-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}
.fx-fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
.fx-fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
[fixed-top] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
[fixed-right] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}
[fixed-bottom] {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
[fixed-left] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
.fx-absolute-top {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
}
.fx-absolute-right {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
}
.fx-absolute-bottom {
  position: absolute !important;
  right: 0;
  bottom: 0;
  left: 0;
}
.fx-absolute-left {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
}
[absolute-top] {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
}
[absolute-right] {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
}
[absolute-bottom] {
  position: absolute !important;
  right: 0;
  bottom: 0;
  left: 0;
}
[absolute-left] {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
}
[horizontal=""] {
  flex-direction: row;
}
[vertical=""] {
  flex-direction: column;
}
[layout][horizontal] > [top] {
  align-self: flex-start;
}
[layout][horizontal] > [center] {
  align-self: center;
}
[layout][horizontal] > [bottom] {
  align-self: flex-end;
}
[layout][vertical] > [left] {
  align-self: flex-start;
}
[layout][vertical] > [center] {
  align-self: center;
}
[layout][vertical] > [right] {
  align-self: flex-end;
}
.fx-flex [self-center] {
  align-self: center;
}
.fx-flex [self-start] {
  align-self: flex-start;
}
.fx-flex [self-end] {
  align-self: flex-end;
}
.fx-flex [self-stretch] {
  align-self: stretch;
}
/*
.fx-behavior-layout-horizontal {
	.fx-layout-horizontal;

	.fx-name(reverse, {
		.fx-layout-horizontal-reverse !important;
	});

	//.fx-name(top, {
	&[top] {
		.fx-layout-align-start !important;
	}
	//.fx-name(bottom, {
	&[bottom] {
		.fx-layout-align-end !important;
	}
	&[center]:not([top]):not([bottom]) {
		.fx-layout-align-center !important;
	}

	//.fx-name(left, {
	&[left] {
		.fx-layout-justify-start !important;
	}
	//.fx-name(right, {
	&[right] {
		.fx-layout-justify-end !important;
	}
	&[center]:not([left]):not([right]) {
		.fx-layout-justify-center !important;
	}
}


.fx-behavior-layout-vertical {
	.fx-layout-vertical;

	.fx-name(reverse, {
		.fx-layout-vertical-reverse !important;
	});

	&[top] {
		.fx-layout-justify-start !important;
	}
	&[bottom] {
		.fx-layout-justify-end !important;
	}
	&[center]:not([top]):not([bottom]) {
		.fx-layout-justify-center !important;
	}

	&[left] {
		.fx-layout-align-start !important;
	}
	&[right] {
		.fx-layout-align-end !important;
	}
	&[center]:not([left]):not([right]) {
		.fx-layout-align-center !important;
	}
}

.fx-behavior-layout-core {
	.fx-name(horizontal, {
		.fx-behavior-layout-horizontal !important;
	});
	.fx-name(vertical, {
		.fx-behavior-layout-vertical !important;
	});
	.fx-name(inline, {
		.fx-layout-inline !important;
	});
	.fx-name(wrap, {
		.fx-layout-wrap !important;
	});
	//.fx-name(space-around, {
	&[space-around] {
		.fx-layout-justify-around !important;
	}
	//.fx-name(space-between, {
	&[space-between] {
		.fx-layout-justify-between !important;
	}
}

[layout] {
	// default layout is horizontal (ie - theres no need to wite [layout][horizontal])
	&:not([vertical]):not([horizontal]) {
		.fx-behavior-layout-horizontal;
	}
	.fx-behavior-layout-core;
}
*/
/*
[layout] {
	display: flex !important;
	align-items: stretch;

	&[vertical] {
		flex-direction: column !important;
	}
	&[vertical][reverse] {
		flex-direction: column-reverse !important;
	}
	&[horizontal] {
		flex-direction: row !important;
	}
	&[horizontal][reverse] {
		flex-direction: row-reverse !important;
	}

	&[center] {
		align-items: center !important;
	}
	&[start] {
		align-items: flex-start !important;
	}
	&[end] {
		align-items: flex-end !important;
	}

	&[justify-center] {
		justify-content: center;
	}
	&[justify-start] {
		justify-content: flex-start;
	}
	&[justify-end] {
		justify-content: flex-end;
	}
	&[justify-around] {
		justify-content: space-around;
	}
	&[justified],
	&[justify-between] {
		justify-content: space-between;
	}
}
*/
[flex],
[flex-1] {
  flex: 1 !important;
}
[flex-2] {
  flex: 2 !important;
}
[flex-3] {
  flex: 3 !important;
}
[flex-4] {
  flex: 4 !important;
}
[flex-5] {
  flex: 5 !important;
}
[flex-6] {
  flex: 6 !important;
}
[flex-7] {
  flex: 7 !important;
}
[flex-8] {
  flex: 8 !important;
}
[flex-9] {
  flex: 9 !important;
}
[flex-10] {
  flex: 10 !important;
}
[flex-11] {
  flex: 11 !important;
}
[flex-12] {
  flex: 12 !important;
}
[noshrink] {
  flex-shrink: 0;
}
[inline=""] {
  display: inline-block;
}
[inline=""][layout] {
  display: inline-flex;
}
[block=""] {
  display: block;
}
[display-none=""] {
  display: none !important;
}
[hidden=""] {
  visibility: hidden;
}
[relative=""] {
  position: relative;
}
[absolute=""] {
  position: absolute;
}
img[image-cover] {
  object-fit: cover;
}
:not(img)[image-cover] {
  background-size: cover;
  background-position: center;
}
img[image-contain] {
  object-fit: contain;
}
:not(img)[image-contain] {
  background-size: contain;
  background-position: center;
}
[clear] {
  clear: both;
}
[float-left] {
  float: left;
}
[float-right] {
  float: right;
}
[text-left] {
  text-align: left;
}
[text-center] {
  text-align: center;
}
[text-right] {
  text-align: right;
}
[scroll] {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}
[scroll][layout] > * {
  flex-shrink: 0;
}
[overflow] {
  overflow: hidden;
}
[line-overflow] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[text-overflow] {
  white-space: nowrap;
  overflow: hidden;
}
[notransition] {
  transition: all 0s !important;
}
body,
html {
  -ms-content-zooming: none;
  touch-action: none;
}
body,
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
input {
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea,
button {
  background-color: transparent;
  border: none;
  color: inherit;
}
/*
button, input, select, textarea { color: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; }
*/
:root {
  --accent: #03A9F4;
}
/*
@phone:       ~"(max-width: 400px) and (orientation: portrait), (max-width: 650px) and (orientation: landscape)";
@phablet:     ~"(min-width: 401px) and (max-width: 700px) and (orientation: portrait)";
@tablet:      ~"(min-width: 701px) and (orientation: portrait), (min-width: 651px) and (orientation: landscape)";
*/
/*
// 690 x 412
body:after {
	padding: 10px;
	position: fixed;
	bottom: 0;
	right: 0;

	@media @base16 {
		background-color: red;
		content: '16';
	}
	@media @base24 {
		background-color: green;
		content: '24';
	}
}
*/
/*
Mobile Landscape: 48dp
Mobile Portrait: 56dp
Tablet/Desktop: 64dp
*/
body[grid] flexus-view::before,
body[grid] flexus-view::after {
  content: '';
  opacity: 0.5;
  display: block;
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
}
body[grid] flexus-view::before {
  left: 1rem;
  border-left: 1px solid red;
}
body[grid] flexus-view::after {
  left: var(--indent);
  width: 16px;
  border-left: 1px solid red;
  border-right: 1px solid red;
}
[ratio="2:1"],
[filler-ratio="2:1"] {
  padding-top: 50%;
}
[ratio="16:9"],
[filler-ratio="16:9"] {
  padding-top: 56.25%;
}
[ratio="3:2"],
[filler-ratio="3:2"] {
  padding-top: 66.6666%;
}
[ratio="4:3"],
[filler-ratio="4:3"] {
  padding-top: 75%;
}
[ratio="1:1"],
[filler-ratio="1:1"] {
  padding-top: 100%;
}
[nopadding="true"],
[nopadding=""] {
  padding: 0;
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
  [nopadding*="phone"] {
    padding: 0;
  }
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  [nopadding*="tablet"] {
    padding: 0;
  }
}
[hidden="true"],
[hidden=""] {
  visibility: hidden;
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
  [hidden*="phone"] {
    visibility: hidden;
  }
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  [hidden*="tablet"] {
    visibility: hidden;
  }
}
[vertical="true"],
[vertical=""] {
  flex-direction: column;
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
  [vertical*="phone"] {
    flex-direction: column;
  }
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  [vertical*="tablet"] {
    flex-direction: column;
  }
}
/*
@media @tablet {
	[tablet-blank] {
		opacity: 0;
	}
}*/
/*
.fx-behavior-item-section(@rules) {
	&[expandable] > section,
	&:not([expandable]) {
		@rules();
	}
}
*/
[fx-list],
flexus-list {
  position: relative;
}
[fx-list][card],
flexus-list[card] {
  padding-top: 8px;
  padding-bottom: 8px;
}
flexus-view > *:nth-child(2) {
  padding: 1rem;
}
[card]:not(flexus-view):not(flexus-toolbar) {
  padding: 1rem;
}
flexus-view > *:nth-child(2) > flexus-pages,
[card] > flexus-pages {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
input[type="checkbox"][avatar] {
  width: 40px !important;
  height: 40px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"][avatar]:not(:checked)::before {
  opacity: 0;
}
input[type="checkbox"][avatar]::after {
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  opacity: 1 !important;
  animation: none !important;
  transform: none !important;
  background-color: var(--avatar-background) !important;
}
[avatar] {
  position: relative;
  display: inline-block;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  background-size: cover;
  background-color: var(--avatar-background);
  object-fit: cover;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
[avatar][round] {
  border-radius: 50%;
}
[avatar][square] {
  border-radius: 0%;
}
flexus-item-expandable section,
[fx-item-expandable] section,
flexus-item,
[fx-item] {
  display: flex;
  position: relative;
  /*& > [avatar] {
		// relative so other items could be stacked inside using absolute pos, [fit], ...
		position: relative;
		display: inline-block;
		overflow: hidden;
		flex-shrink: 0;
		width: 40px !important;
		height: 40px !important;
		// center imageless avatars like <div avatar>C</div>
		line-height: 40px !important;
		text-align: center;
		// harmless stretch like background-size and center for <img avatar>
		// degrades gracefully for other things like <div avatar><img></div>
		object-fit: cover;

		@{theme-dark}  & {background-color: #444}
		@{theme-light} & {background-color: #ccc}

		&[round] {
			border-radius: 50%;
		}
		&[square] {
			border-radius: 0%;
		}
	}*/
}
flexus-item-expandable section [icon]:empty,
[fx-item-expandable] section [icon]:empty,
flexus-item [icon]:empty,
[fx-item] [icon]:empty {
  padding: 0;
}
flexus-item-expandable section[two-line],
[fx-item-expandable] section[two-line],
flexus-item[two-line],
[fx-item][two-line],
flexus-item-expandable section[multi-line],
[fx-item-expandable] section[multi-line],
flexus-item[multi-line],
[fx-item][multi-line],
flexus-item-expandable section [two-line],
[fx-item-expandable] section [two-line],
flexus-item [two-line],
[fx-item] [two-line],
flexus-item-expandable section [multi-line],
[fx-item-expandable] section [multi-line],
flexus-item [multi-line],
[fx-item] [multi-line] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
flexus-item-expandable section [two-line],
[fx-item-expandable] section [two-line],
flexus-item [two-line],
[fx-item] [two-line],
flexus-item-expandable section [multi-line],
[fx-item-expandable] section [multi-line],
flexus-item [multi-line],
[fx-item] [multi-line] {
  flex: 1;
}
flexus-item-expandable,
[fx-item-expandable] {
  position: relative;
}
flexus-toolbar {
  z-index: 1;
  position: relative;
  overflow: initial !important;
  /*&[multisection] > * {
		--toolbar-background: inherit;
		--toolbar-foreground: inherit;
	}*/
}
flexus-toolbar a[href] {
  color: inherit;
}
flexus-toolbar [icon]::before {
  color: var(--toolbar-icons);
}
flexus-toolbar[sticky] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
flexus-toolbar[multisection] {
  display: flex;
  flex-direction: column;
}
flexus-toolbar[transparent] {
  --toolbar-background: transparent;
}
flexus-toolbar[translucent] {
  --toolbar-background: rgba(var(--theme-base2), 0.5);
}
flexus-toolbar[colored],
flexus-toolbar[multisection] > [colored],
flexus-toolbar[multisection][colored] > [lighter],
flexus-toolbar[multisection][colored] > [darker] {
  --toolbar-background-default: var(--theme-primary);
  --toolbar-foreground-default: var(--theme-primary-foreground);
}
flexus-toolbar,
flexus-toolbar[multisection] > [light],
flexus-toolbar[multisection] > [dark],
flexus-toolbar[multisection] > [colored],
flexus-toolbar[multisection][colored] > [lighter],
flexus-toolbar[multisection][colored] > [darker] {
  background-color: var(--toolbar-background, var(--toolbar-background-default));
}
flexus-toolbar,
flexus-toolbar[multisection] > * {
  position: relative;
  transition: background-color 0.2s, color 0.2s;
  color: var(--toolbar-foreground, var(--toolbar-foreground-default)) !important;
}
flexus-toolbar:not([multisection]),
flexus-toolbar[multisection] > * {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
}
flexus-toolbar:not([multisection]) h1,
flexus-toolbar[multisection] > * h1,
flexus-toolbar:not([multisection]) h2,
flexus-toolbar[multisection] > * h2,
flexus-toolbar:not([multisection]) h3,
flexus-toolbar[multisection] > * h3 {
  flex: 1;
}
flexus-toolbar:not([multisection]) h1,
flexus-toolbar[multisection] > *:not([free]) h1,
flexus-toolbar:not([multisection]) h2,
flexus-toolbar[multisection] > *:not([free]) h2,
flexus-toolbar:not([multisection]) h3,
flexus-toolbar[multisection] > *:not([free]) h3 {
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
}
flexus-toolbar[multisection] > section[center] {
  justify-content: center;
}
flexus-toolbar[multisection] > section[vertical] {
  align-items: flex-start;
}
flexus-toolbar[multisection] > section[vertical][center] {
  align-items: center;
}
flexus-toolbar ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
flexus-toolbar :-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
flexus-tabs {
  position: relative;
  display: flex;
  /*@media @phone {
		& > * {
			flex: 1;
		}
	}*/
  /*& .bar {
		height: 2px;
		background-color: currentColor;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		transform-origin: left center;
	}*/
}
flexus-tabs[center] {
  justify-content: center;
}
flexus-tabs[fixed] > *,
flexus-tabs[stretched] > * {
  flex: 1;
}
flexus-tabs[scrollable] > * {
  flex-shrink: 0;
  white-space: nowrap;
}
flexus-tabs > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
flexus-tabs > *[icon] {
  flex-direction: column;
}
input {
  min-width: 0;
}
body {
  --theme-primary: var(--default-theme-primary);
  --theme-primary-foreground: var(--default-theme-primary-foreground);
  --theme-accent-foreground: currentColor;
}
[light] {
  --avatar-background: #CCC;
}
[dark] {
  --avatar-background: #444;
}
h1[primary],
h2[primary],
h3[primary],
h4[primary],
h5[primary],
h6[primary],
span[primary],
p[primary],
i[primary],
a[primary],
input[primary],
label[primary],
ul[primary],
li[primary] {
  color: var(--theme-primary);
}
h1[accent],
h2[accent],
h3[accent],
h4[accent],
h5[accent],
h6[accent],
span[accent],
p[accent],
i[accent],
a[accent],
input[accent],
label[accent],
ul[accent],
li[accent] {
  color: var(--theme-accent);
}
h1[colored],
h2[colored],
h3[colored],
h4[colored],
h5[colored],
h6[colored],
span[colored],
p[colored],
i[colored],
a[colored],
input[colored],
label[colored],
ul[colored],
li[colored] {
  color: var(--theme-accent, var(--theme-primary));
}
[primary=""]:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(span):not(p):not(i):not(a):not(input):not(label):not(ul):not(li):not(flexus-toolbar) {
  background-color: var(--theme-primary);
  color: var(--theme-primary-foreground);
}
[accent=""]:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(span):not(p):not(i):not(a):not(input):not(label):not(ul):not(li):not(flexus-toolbar) {
  background-color: var(--theme-accent);
  color: var(--theme-accent-foreground);
}
[colored=""]:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(span):not(p):not(i):not(a):not(input):not(label):not(ul):not(li):not(flexus-toolbar) {
  background-color: var(--theme-accent, var(--theme-primary));
  color: var(--theme-accent-foreground, var(--theme-primary-foreground));
}
[primary-foreground] {
  color: var(--theme-primary);
}
[primary-background] {
  background-color: var(--theme-primary);
  color: var(--theme-primary-foreground);
}
[accent-foreground] {
  color: var(--theme-accent);
}
[accent-background] {
  background-color: var(--theme-accent);
  color: var(--theme-accent-foreground);
}
[colored-foreground] {
  color: var(--theme-accent, var(--theme-primary));
}
[colored-background] {
  background-color: var(--theme-accent, var(--theme-primary));
  color: var(--theme-accent-foreground, var(--theme-primary-foreground));
}
/*
//TODO
[ultra-thin] {
	font-weight: 100;
}
[extra-thin] {
	font-weight: 200;
}
[thin] {
	font-weight: 300;
}
[bold] {
	font-weight: 600;
}
//[black] {
[extra-bold] {
	font-weight: 700;
}
[ultra-bold] {
	font-weight: 900;
}
*/
/*
[normal] {
	font-style: normal;
}
[strong] {
	font-weight: bold;
}
[italic] {
	font-style: italic;
}
*/
[italic=""] {
  font-style: italic !important;
}
[thin=""] {
  font-weight: 200 !important;
}
[regular=""],
[normal=""] {
  font-weight: normal !important;
}
[strong=""],
[bold=""] {
  font-weight: bold !important;
}
[weight="100"] {
  font-weight: 100 !important;
}
[weight="200"] {
  font-weight: 200 !important;
}
[weight="300"] {
  font-weight: 300 !important;
}
[weight="400"] {
  font-weight: 400 !important;
}
[weight="500"] {
  font-weight: 500 !important;
}
[weight="600"] {
  font-weight: 600 !important;
}
[weight="700"] {
  font-weight: 700 !important;
}
[weight="800"] {
  font-weight: 800 !important;
}
[weight="thin"] {
  font-weight: 100 !important;
}
[weight="light"] {
  font-weight: 300 !important;
}
[weight="normal"] {
  font-weight: 400 !important;
}
[weight="medium"] {
  font-weight: 500 !important;
}
[weight="bold"] {
  font-weight: 700 !important;
}
[weight="black"] {
  font-weight: 900 !important;
}
body[fx-app] {
  width: 100%;
  height: 100%;
}
flexus-app,
[fx-app] {
  display: flex;
}
flexus-app > flexus-scene,
[fx-app] > flexus-scene,
flexus-app > flexus-view,
[fx-app] > flexus-view {
  flex: 1;
}
flexus-scene {
  height: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
flexus-scene[vertical="true"],
flexus-scene[vertical=""] {
  flex-direction: column;
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
  flexus-scene[vertical*="phone"] {
    flex-direction: column;
  }
  flexus-scene[vertical*="phone"] [sidepane] {
    max-height: 40vh;
  }
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  flexus-scene[vertical*="tablet"] {
    flex-direction: column;
  }
}
flexus-scene flexus-view {
  flex: 1;
}
flexus-view {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
flexus-view[layout] > * {
  flex-shrink: 0;
}
flexus-view > flexus-tabs,
flexus-view > flexus-toolbar {
  flex-shrink: 0;
}
flexus-view > *:nth-child(2) {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
flexus-view > *:nth-child(2) [card][fullwidth] {
  width: auto;
  margin-left: -1rem;
  margin-right: -1rem;
  border-radius: 0;
}
flexus-view > *:nth-child(2) flexus-pages[fullwidth=""] {
  width: auto;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
flexus-view > flexus-tabs + *,
flexus-view > flexus-toolbar:not([scroll]) + * {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}
flexus-view > flexus-tabs + *[layout] > *,
flexus-view > flexus-toolbar:not([scroll]) + *[layout] > * {
  flex-shrink: 0;
}
flexus-drawer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 600;
}
flexus-drawer:not([dragging]) {
  transition: all 0.2s;
}
flexus-drawer a {
  cursor: default;
}
flexus-drawer[hidden] {
  visibility: visible !important;
}
flexus-drawer > * {
  white-space: nowrap;
  overflow: hidden;
}
html,
body {
  overflow: hidden;
  margin: 0;
  /*
	width: 100%;
	height: 100%;
	*/
}
flexus-list {
  display: block;
}
flexus-menu,
flexus-toolbar,
flexus-tabs {
  user-select: none;
  cursor: default;
}
body[hide-explicit-nav] flexus-toolbar [icon="menu"] {
  display: none !important;
}
/*hr {
	border: none;
	border-top: 1px solid;
	margin-top: 0;
	margin-bottom: 0;
	&[spacer] {
		margin-top: 0.5rem; // todo investigate
		margin-bottom: 0.5rem; // todo investigate
	}
}*/
hr {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}
hr::before {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--hr-color, rgba(var(--theme-base), 0.12));
}
hr[horizontal]::before {
  width: 100%;
  height: 1px;
}
hr[vertical]::before {
  width: 1px;
  height: 100%;
}
hr[spacer] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
[hr] + [hr],
[hr-between] + [hr-between] {
  border-top: 1px solid;
}
[hr-top] {
  border-top: 1px solid;
}
[hr-bottom] {
  border-bottom: 1px solid;
}
[hr-around] {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
[hr-around] + [hr-around] {
  border-top: none;
}
[icon]:before {
  line-height: 1;
  letter-spacing: 0;
}
[icon]:empty {
  text-align: center;
}
i[icon] {
  font-style: normal;
  /*width: 24px;
	height: 24px;*/
  font-size: 24px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button[icon] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
body,
flexus-view {
  background-color: var(--theme-background);
  color: var(--theme-foreground);
}
/*
[dark], [light] {
	color: var(--primary-color);
}*/
[icon="menu"]:before {
  flex-shrink: 0;
}
/*
platform: windows,android,ios
screen: phone/tablet portrait/landscape
device: phone, tablet, pc

flexus-toolbar[medium=""],
flexus-toolbar[medium~="android"] {
}

*/
#fx-overlay {
  background-color: #000;
  opacity: 0;
  z-index: 500;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
}
#fx-overlay:not([noanimation]) {
  transition: opacity 0.3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body:not([primary]) {
  --default-theme-primary: #03A9F4;
  --default-theme-primary-foreground: #FFF;
}
[light]  {
  --theme-background: #FFF;
  --theme-foreground: #000;
  --secondary-color: rgba(0, 0, 0, 0.8);
  --theme-base: 0,0,0;
  --theme-base2: 255,255,255;
  --toolbar-background-default: #DCDCDC;
  --toolbar-foreground-default: #000;
  --flyout-border: #cccccc;
  --flyout-background: #f2f2f2;
}
[dark]  {
  --theme-background: #000;
  --theme-foreground: #FFF;
  --secondary-color: rgba(255, 255, 255, 0.8);
  --theme-base: 255,255,255;
  --theme-base2: 0,0,0;
  --toolbar-background-default: #1F1F1F;
  --toolbar-foreground-default: #FFF;
  --flyout-border: #747474;
  --flyout-background: #2b2b2b;
}
[primary="red"],
[primary="pink"],
[primary="purple"],
[primary="deep-purple"],
[primary="indigo"],
[primary="blue"],
[primary="light-blue"],
[primary="cyan"],
[primary="teal"],
[primary="green"],
[primary="light-green"],
[primary="lime"],
[primary="yellow"],
[primary="amber"],
[primary="orange"],
[primary="deep-orange"],
[primary="brown"],
[primary="gray"],
[primary="blue-gray"] {
  --theme-primary-light: var(--theme-primary-100);
  --theme-primary-lighter: var(--theme-primary-300);
  --theme-primary: var(--theme-primary-500);
  --theme-primary-darker: var(--theme-primary-700);
  --theme-primary-dark: var(--theme-primary-900);
  --theme-primary-foreground: var(--theme-primary-500-foreground);
}
[primary="red"][lighter],
[primary="pink"][lighter],
[primary="purple"][lighter],
[primary="deep-purple"][lighter],
[primary="indigo"][lighter],
[primary="blue"][lighter],
[primary="light-blue"][lighter],
[primary="cyan"][lighter],
[primary="teal"][lighter],
[primary="green"][lighter],
[primary="light-green"][lighter],
[primary="lime"][lighter],
[primary="yellow"][lighter],
[primary="amber"][lighter],
[primary="orange"][lighter],
[primary="deep-orange"][lighter],
[primary="brown"][lighter],
[primary="gray"][lighter],
[primary="blue-gray"][lighter],
[primary="red"] [lighter],
[primary="pink"] [lighter],
[primary="purple"] [lighter],
[primary="deep-purple"] [lighter],
[primary="indigo"] [lighter],
[primary="blue"] [lighter],
[primary="light-blue"] [lighter],
[primary="cyan"] [lighter],
[primary="teal"] [lighter],
[primary="green"] [lighter],
[primary="light-green"] [lighter],
[primary="lime"] [lighter],
[primary="yellow"] [lighter],
[primary="amber"] [lighter],
[primary="orange"] [lighter],
[primary="deep-orange"] [lighter],
[primary="brown"] [lighter],
[primary="gray"] [lighter],
[primary="blue-gray"] [lighter] {
  --theme-primary: var(--theme-primary-300);
  --theme-primary-foreground: var(--theme-primary-300-foreground);
}
[primary="red"][darker],
[primary="pink"][darker],
[primary="purple"][darker],
[primary="deep-purple"][darker],
[primary="indigo"][darker],
[primary="blue"][darker],
[primary="light-blue"][darker],
[primary="cyan"][darker],
[primary="teal"][darker],
[primary="green"][darker],
[primary="light-green"][darker],
[primary="lime"][darker],
[primary="yellow"][darker],
[primary="amber"][darker],
[primary="orange"][darker],
[primary="deep-orange"][darker],
[primary="brown"][darker],
[primary="gray"][darker],
[primary="blue-gray"][darker],
[primary="red"] [darker],
[primary="pink"] [darker],
[primary="purple"] [darker],
[primary="deep-purple"] [darker],
[primary="indigo"] [darker],
[primary="blue"] [darker],
[primary="light-blue"] [darker],
[primary="cyan"] [darker],
[primary="teal"] [darker],
[primary="green"] [darker],
[primary="light-green"] [darker],
[primary="lime"] [darker],
[primary="yellow"] [darker],
[primary="amber"] [darker],
[primary="orange"] [darker],
[primary="deep-orange"] [darker],
[primary="brown"] [darker],
[primary="gray"] [darker],
[primary="blue-gray"] [darker] {
  --theme-primary: var(--theme-primary-700);
  --theme-primary-foreground: var(--theme-primary-700-foreground);
}
[primary="red"] [darker] [primary=""],
[primary="pink"] [darker] [primary=""],
[primary="purple"] [darker] [primary=""],
[primary="deep-purple"] [darker] [primary=""],
[primary="indigo"] [darker] [primary=""],
[primary="blue"] [darker] [primary=""],
[primary="light-blue"] [darker] [primary=""],
[primary="cyan"] [darker] [primary=""],
[primary="teal"] [darker] [primary=""],
[primary="green"] [darker] [primary=""],
[primary="light-green"] [darker] [primary=""],
[primary="lime"] [darker] [primary=""],
[primary="yellow"] [darker] [primary=""],
[primary="amber"] [darker] [primary=""],
[primary="orange"] [darker] [primary=""],
[primary="deep-orange"] [darker] [primary=""],
[primary="brown"] [darker] [primary=""],
[primary="gray"] [darker] [primary=""],
[primary="blue-gray"] [darker] [primary=""],
[primary="red"] [lighter] [primary=""],
[primary="pink"] [lighter] [primary=""],
[primary="purple"] [lighter] [primary=""],
[primary="deep-purple"] [lighter] [primary=""],
[primary="indigo"] [lighter] [primary=""],
[primary="blue"] [lighter] [primary=""],
[primary="light-blue"] [lighter] [primary=""],
[primary="cyan"] [lighter] [primary=""],
[primary="teal"] [lighter] [primary=""],
[primary="green"] [lighter] [primary=""],
[primary="light-green"] [lighter] [primary=""],
[primary="lime"] [lighter] [primary=""],
[primary="yellow"] [lighter] [primary=""],
[primary="amber"] [lighter] [primary=""],
[primary="orange"] [lighter] [primary=""],
[primary="deep-orange"] [lighter] [primary=""],
[primary="brown"] [lighter] [primary=""],
[primary="gray"] [lighter] [primary=""],
[primary="blue-gray"] [lighter] [primary=""] {
  --theme-primary: var(--theme-primary-500);
  --theme-primary-foreground: var(--theme-primary-500-foreground);
}
[primary="red"] {
  --theme-primary-100: #FFCDD2;
  --theme-primary-300: #E57373;
  --theme-primary-500: #F44336;
  --theme-primary-700: #D32F2F;
  --theme-primary-900: #B71C1C;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="red"] {
  --theme-accent: #FF5252;
  --theme-accent-foreground: #ffffff;
}
[primary="pink"] {
  --theme-primary-100: #F8BBD0;
  --theme-primary-300: #F06292;
  --theme-primary-500: #E91E63;
  --theme-primary-700: #C2185B;
  --theme-primary-900: #880E4F;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: #ffffff;
  --theme-primary-500-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="pink"] {
  --theme-accent: #FF4081;
  --theme-accent-foreground: #ffffff;
}
[primary="purple"] {
  --theme-primary-100: #E1BEE7;
  --theme-primary-300: #BA68C8;
  --theme-primary-500: #9C27B0;
  --theme-primary-700: #7B1FA2;
  --theme-primary-900: #4A148C;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: #ffffff;
  --theme-primary-500-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="purple"] {
  --theme-accent: #E040FB;
  --theme-accent-foreground: #ffffff;
}
[primary="deep-purple"] {
  --theme-primary-100: #D1C4E9;
  --theme-primary-300: #9575CD;
  --theme-primary-500: #673AB7;
  --theme-primary-700: #512DA8;
  --theme-primary-900: #311B92;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-500-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="deep-purple"] {
  --theme-accent: #7C4DFF;
  --theme-accent-foreground: #ffffff;
}
[primary="indigo"] {
  --theme-primary-100: #C5CAE9;
  --theme-primary-300: #7986CB;
  --theme-primary-500: #3F51B5;
  --theme-primary-700: #303F9F;
  --theme-primary-900: #1A237E;
  --theme-primary-100-foreground: #000000;
  --theme-primary-300-foreground: #ffffff;
  --theme-primary-500-foreground: #ffffff;
  --theme-primary-700-foreground: #ffffff;
  --theme-primary-900-foreground: #ffffff;
}
[accent="indigo"] {
  --theme-accent: #536DFE;
  --theme-accent-foreground: rgba(255, 255, 255, 0.87);
}
[primary="blue"] {
  --theme-primary-100: #BBDEFB;
  --theme-primary-300: #64B5F6;
  --theme-primary-500: #2196F3;
  --theme-primary-700: #1976D2;
  --theme-primary-900: #0D47A1;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="blue"] {
  --theme-accent: #448AFF;
  --theme-accent-foreground: #ffffff;
}
[primary="light-blue"] {
  --theme-primary-100: #B3E5FC;
  --theme-primary-300: #4FC3F7;
  --theme-primary-500: #03A9F4;
  --theme-primary-700: #0288D1;
  --theme-primary-900: #01579B;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="light-blue"] {
  --theme-accent: #40C4FF;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="cyan"] {
  --theme-primary-100: #B2EBF2;
  --theme-primary-300: #4DD0E1;
  --theme-primary-500: #00BCD4;
  --theme-primary-700: #0097A7;
  --theme-primary-900: #006064;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="cyan"] {
  --theme-accent: #18FFFF;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="teal"] {
  --theme-primary-100: #B2DFDB;
  --theme-primary-300: #4DB6AC;
  --theme-primary-500: #009688;
  --theme-primary-700: #00796B;
  --theme-primary-900: #004D40;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: #ffffff;
  --theme-primary-700-foreground: #ffffff;
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="teal"] {
  --theme-accent: #64FFDA;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="green"] {
  --theme-primary-100: #C8E6C9;
  --theme-primary-300: #81C784;
  --theme-primary-500: #4CAF50;
  --theme-primary-700: #388E3C;
  --theme-primary-900: #1B5E20;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="green"] {
  --theme-accent: #69F0AE;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="light-green"] {
  --theme-primary-100: #DCEDC8;
  --theme-primary-300: #AED581;
  --theme-primary-500: #8BC34A;
  --theme-primary-700: #689F38;
  --theme-primary-900: #33691E;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: #ffffff;
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="light-green"] {
  --theme-accent: #B2FF59;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="lime"] {
  --theme-primary-100: #F0F4C3;
  --theme-primary-300: #DCE775;
  --theme-primary-500: #CDDC39;
  --theme-primary-700: #AFB42B;
  --theme-primary-900: #827717;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="lime"] {
  --theme-accent: #EEFF41;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="yellow"] {
  --theme-primary-100: #FFF9C4;
  --theme-primary-300: #FFF176;
  --theme-primary-500: #FFEB3B;
  --theme-primary-700: #FBC02D;
  --theme-primary-900: #F57F17;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-900-foreground: rgba(0, 0, 0, 0.87);
}
[accent="yellow"] {
  --theme-accent: #FFFF00;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="amber"] {
  --theme-primary-100: #FFECB3;
  --theme-primary-300: #FFD54F;
  --theme-primary-500: #FFC107;
  --theme-primary-700: #FFA000;
  --theme-primary-900: #FF6F00;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-900-foreground: rgba(0, 0, 0, 0.87);
}
[accent="amber"] {
  --theme-accent: #FFD740;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="orange"] {
  --theme-primary-100: #FFE0B2;
  --theme-primary-300: #FFB74D;
  --theme-primary-500: #FF9800;
  --theme-primary-700: #F57C00;
  --theme-primary-900: #E65100;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="orange"] {
  --theme-accent: #FFAB40;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="deep-orange"] {
  --theme-primary-100: #FFCCBC;
  --theme-primary-300: #FF8A65;
  --theme-primary-500: #FF5722;
  --theme-primary-700: #E64A19;
  --theme-primary-900: #BF360C;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: #ffffff;
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[accent="deep-orange"] {
  --theme-accent: #FF6E40;
  --theme-accent-foreground: rgba(0, 0, 0, 0.54);
}
[primary="brown"] {
  --theme-primary-100: #D7CCC8;
  --theme-primary-300: #A1887F;
  --theme-primary-500: #795548;
  --theme-primary-700: #5D4037;
  --theme-primary-900: #3E2723;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: #ffffff;
  --theme-primary-500-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[primary="gray"] {
  --theme-primary-100: #F5F5F5;
  --theme-primary-300: #E0E0E0;
  --theme-primary-500: #9E9E9E;
  --theme-primary-700: #616161;
  --theme-primary-900: #212121;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
[primary="blue-gray"] {
  --theme-primary-100: #CFD8DC;
  --theme-primary-300: #90A4AE;
  --theme-primary-500: #607D8B;
  --theme-primary-700: #455A64;
  --theme-primary-900: #263238;
  --theme-primary-100-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-300-foreground: rgba(0, 0, 0, 0.87);
  --theme-primary-500-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-700-foreground: rgba(255, 255, 255, 0.87);
  --theme-primary-900-foreground: rgba(255, 255, 255, 0.87);
}
body,
input,
textarea {
  font-family: Segoe UI;
}
body {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
body[touch] {
  font-size: 15px;
}
/*@{layout-compact} {
	font-size: 14px;
}*/
/*body {
	font-size: 15px;
	font-weight: 400;
	//line-height: 1.333;
}*/
[normal] {
  font-size: 15px;
}
[large] {
  font-size: 25px;
}
[larger] {
  font-size: 34px;
}
[secondary] {
  font-size: 14px !important;
  color: rgba(var(--theme-base), 0.6);
}
[h1-like-tempname],
h1 {
  font-size: 46px;
  font-weight: 200;
  letter-spacing: 0px;
}
[h2-like-tempname],
h2 {
  font-size: 34px;
  font-weight: 200;
}
[h3-like-tempname],
h3 {
  font-size: 25px;
  font-weight: 300;
}
h3 {
  margin-bottom: 12px;
}
* + h3 {
  margin-top: 38px;
}
[h4-like-tempname],
h4 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  margin-bottom: 5px;
}
* + h4 {
  margin-top: 20px;
}
[h5-like-tempname],
h5 {
  font-size: 15px;
  font-weight: 500;
}
h5 {
  margin-bottom: 2px;
}
* + h5 {
  margin-top: 10px;
}
figcaption {
  font-size: 12px;
  font-weight: 400;
}
a[href]:not([fx-item]) {
  color: #03A9F4;
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  html {
    font-size: 24px;
  }
}
p {
  padding-top: 4px;
  padding-bottom: 6px;
}
progress[ring]::-ms-fill {
  animation-name: -ms-ring;
}
/*
hr::before {
	.theme(
		{background-color: fade(#000, 20)},
		{background-color: fade(#FFF, 20)}
	)
}
*/
/*
hr,
[hr] + [hr],
[hr-between] + [hr-between],
[hr-top],
[hr-bottom],
[hr-around] {
	@{theme-dark}  & {border-color: fade(#FFF, 30)}
	@{theme-light} & {border-color: fade(#000, 30)} // todo investigate
}

[hr-indent] {
	// todo
}
*/
[titlebar] {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 12px;
  line-height: 30px;
  font-size: 13px;
  letter-spacing: 0;
}
[titlebar] i,
[titlebar] button {
  width: 30px;
  height: 30px;
}
[titlebar] i,
[titlebar] [icon]:before {
  /*font-size: 14px;*/
  font-size: 10px;
}
[titlebar] [drag] {
  -webkit-app-region: drag;
}
[titlebar] [icon^="win"] {
  width: 48px;
  flex-shrink: 0;
}
[titlebar] [icon^="win"]:before {
  font-size: 10px;
}
[dark] [titlebar] [icon^="win"]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
[light] [titlebar] [icon^="win"]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
[dark] [titlebar] [icon^="win"]:active {
  background-color: rgba(255, 255, 255, 0.2);
}
[light] [titlebar] [icon^="win"]:active {
  background-color: rgba(0, 0, 0, 0.2);
}
[titlebar] [icon="win-close"]:hover {
  background-color: #e81123 !important;
  color: #FFF !important;
}
a[button] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
[avatar] {
  display: flex;
  align-items: center;
  justify-content: center;
}
[avatar] input[type="checkbox"] {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}
[avatar] input[type="checkbox"]::-ms-check {
  width: 24px;
  height: 24px;
}
[card] {
  background-color: rgba(var(--theme-base), 0.1);
}
flexus-view {
  /*[slidein] {
		animation: slidein-from-right 0.5s;
	}*/
}
flexus-view[sidepane] {
  flex-basis: 260px;
  flex: initial;
  background-color: var(--view-side-color);
}
[dark] {
  --view-side-color: #222;
}
@keyframes slidein-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slidein-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
flexus-drawer {
  --drawer-width-expanded: 250px;
  width: 48px;
  /*[icon="menu"]:before {
		flex-shrink: 0;
	}*/
  background-color: var(--drawer-background, var(--drawer-background-default));
}
flexus-drawer[below-toolbar] {
  z-index: 1;
}
flexus-drawer[under-toolbar] {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 48px;
}
flexus-drawer[under-toolbar] + flexus-view flexus-tabs + *,
flexus-drawer[under-toolbar] + flexus-view flexus-toolbar + * {
  margin-left: 48px;
}
flexus-drawer[expanded] {
  width: var(--drawer-width-expanded);
}
flexus-drawer[hidden="true"],
flexus-drawer[hidden=""] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--drawer-width-expanded);
  transform: translate3d(-100%, 0, 0);
}
flexus-drawer[hidden="true"][expanded],
flexus-drawer[hidden=""][expanded] {
  transform: translate3d(0%, 0, 0);
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
  flexus-drawer[hidden*="phone"] {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--drawer-width-expanded);
    transform: translate3d(-100%, 0, 0);
  }
  flexus-drawer[hidden*="phone"][expanded] {
    transform: translate3d(0%, 0, 0);
  }
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  flexus-drawer[hidden*="tablet"] {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--drawer-width-expanded);
    transform: translate3d(-100%, 0, 0);
  }
  flexus-drawer[hidden*="tablet"][expanded] {
    transform: translate3d(0%, 0, 0);
  }
}
flexus-drawer[overlay] {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
}
flexus-drawer[overlay]:not([hidden]) + * {
  margin-left: 48px;
}
flexus-drawer [fx-item] {
  margin: 0 !important;
  transform: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: transparent !important;
  border: none !important;
  min-width: 48px;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  font-size: 16px;
}
flexus-drawer [fx-item][indent] {
  padding-left: 48px;
}
flexus-drawer [fx-item]:hover {
  background-color: rgba(var(--theme-base), 0.1) !important;
}
flexus-drawer [fx-item]:active {
  background-color: rgba(var(--theme-base), 0.2) !important;
}
flexus-drawer [fx-item] i[icon],
flexus-drawer [fx-item] i[icon]:before,
flexus-drawer [fx-item][icon]:before {
  width: 48px;
  margin-right: 0 !important;
}
flexus-drawer [fx-item] i[icon]:before,
flexus-drawer [fx-item][icon]:before {
  font-size: 16px;
  text-align: center;
  flex-shrink: 0;
}
flexus-drawer [fx-item][icon="menu"]:before {
  font-size: 20px;
}
flexus-drawer [icon]:empty {
  min-width: 48px !important;
  min-height: 48px !important;
}
flexus-drawer [icon="menu"] {
  width: 48px;
  height: 48px;
}
[dark] flexus-drawer {
  --drawer-background-default: #171717;
}
[light] flexus-drawer {
  --drawer-background-default: #f2f2f2;
}
flexus-dialog {
  background-color: var(--flyout-background);
  border: 1px solid var(--theme-accent);
  outline: 5000px solid rgba(var(--theme-base2), 0.6);
  padding: 24px;
  position: fixed;
  z-index: 99999;
  top: 50%;
  margin-bottom: -50%;
  display: none;
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
  flexus-dialog {
    animation: dialog-show-phone 0.3s;
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
  }
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  flexus-dialog {
    animation: dialog-show-tablet 0.3s;
    max-width: 530px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
flexus-dialog::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -2000px;
  right: -2000px;
  top: -2000px;
  bottom: -2000px;
  display: block;
}
flexus-dialog button {
  margin: 2px;
  min-width: 140px !important;
}
flexus-dialog[visible] {
  display: block;
}
@keyframes dialog-show-phone {
  from {
    opacity: 0;
    transform: translate(0, -50%) scale(1.1);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
}
@keyframes dialog-show-tablet {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
[flyout] {
  display: inline-block;
  padding: 0.5rem;
}
[light] [flyout] {
  border: 1px solid #cccccc;
  background-color: #f2f2f2;
}
[dark] [flyout] {
  border: 1px solid #747474;
  background-color: #2b2b2b;
}
.fx-menu-animation-wrapper {
  position: fixed;
  display: inline-block;
  z-index: 999;
  overflow: hidden;
}
[slot="fx-menu"][icon]::before,
flexus-menu [icon]::before,
flexus-menu[icon]::before {
  font-size: 16px !important;
}
[slot="fx-menu"][icon]::before,
flexus-menu > [icon]::before {
  margin-right: 12px;
}
[slot="fx-menu"] i[icon]:first-child:not(:last-child),
flexus-menu i[icon]:first-child:not(:last-child) {
  margin-right: 12px;
}
[slot="fx-menu"] i[icon]:last-child:not(:first-child),
flexus-menu i[icon]:last-child:not(:first-child) {
  margin-left: 12px;
}
/*
flexus-menu {
	.fx-style-flyout;
	padding: 8px 0;
	&[narrow] {
		// NOTE: Maybe think of better name. something like [nopadding].
		//       [narrow] might want to be used for shrinked items, like in toolbar
		padding: 0;
	}
	font-size: 16px;
	// can be either inline-block or inline-flex
	flex-direction: column;
	// hidden by default, is only shown through JS
	display: none;

	& > * {
		// todo - inherit clickable
		&:hover {
			.theme(
				{background-color: #dadada},
				{background-color: #404040}
			)
		}
		&:active {
			.theme(
				{background-color: #c2c2c2},
				{background-color: #555555}
			)
		}
	}

	&[touch] {
		& > {
			//height: 44px;
			min-height: 44px !important; // overwrite fx-item. Imoportant because of [fx-layout="compact"]. might be deleted in future? todo: investigate
		}
	}

	&:not([touch]) {
		& > {
			//height: 32px;
			min-height: 32px !important; // overwrite fx-item. Imoportant because of [fx-layout="compact"]. might be deleted in future? todo: investigate
		}

		& > button[icon]:empty {
			min-width: 32px;
			min-height: 32px;
			margin: 0;

			&::before {
				font-size: 16px;
			}
		}
	}

	hr {
		.theme(
			{background-color: #919191},
			{background-color: #808080}
		);
		height: 1px;
		margin: 4px 12px;
	}

}
*/
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
/*
button,
textarea,
input,
button,
select {
	&:disabled {
		color: ~'rgba(var(--theme-base), 0.4)' !important;
		//.theme-inherited(
		//	{color: fade(#000, 40) !important},
		//	{color: fade(#FFF, 40) !important}
		//);
	}
}
*/
:disabled,
[disabled=""] {
  opacity: 0.4;
}
:disabled *,
[disabled=""] * {
  opacity: initial;
}
label,
input,
button,
select {
  vertical-align: middle;
}
/*
input[type="radio"],
input[type="checkbox"] {
	vertical-align: text-bottom;
}
*/
input[type='radio'],
input[type='checkbox'] {
  color: var(--accent);
  -webkit-appearance: none;
  position: relative;
}
/*
input[type="checkbox"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
}
*/
input[type='radio'],
input[type='checkbox']:not([toggle]) {
  position: relative;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 4px;
  /*
	&::-ms-check {
	}
	&::after {
		content: '';
	}
	&::-ms-check,
	&::after {
		display: block;
		position: absolute;
		transition: all 100ms ease-out;
	}*/
}
[dark] input[type='radio'],
[dark] input[type='checkbox']:not([toggle]) {
  border-color: #CCC;
}
[light] input[type='radio'],
[light] input[type='checkbox']:not([toggle]) {
  border-color: #333;
}
input[type='checkbox']:not([toggle]) {
  background-color: transparent;
}
input[type='checkbox']:not([toggle])::after {
  content: '';
}
input[type='checkbox']:not([toggle])::after {
  display: block;
  position: absolute;
  transition: all 100ms ease-out;
}
input[type='checkbox']:not([toggle])::-ms-check {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
}
input[type='checkbox']:not([toggle])::after {
  left: 0;
  top: 0;
  width: 8px;
  height: 14px;
  margin-top: -2px;
  margin-left: 0px;
  transform: translate(4px, 1px) rotate(45deg) scale(0);
}
input[type='checkbox']:not([toggle]):checked {
  background-color: currentColor;
  border-color: transparent;
}
input[type='checkbox']:not([toggle]):checked::after {
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  transform: translate(4px, 1px) rotate(45deg) scale(1);
}
input[type='checkbox']:not([toggle]):checked::-ms-check {
  color: #FFF;
}
[dark] input[type='checkbox']:not([toggle]):hover {
  border-color: #FFF;
}
[light] input[type='checkbox']:not([toggle]):hover {
  border-color: #000;
}
input[type='checkbox']:not([toggle]):active {
  border-color: transparent !important;
}
[dark] input[type='checkbox']:not([toggle]):active {
  background-color: #999;
}
[light] input[type='checkbox']:not([toggle]):active {
  background-color: #666;
}
input[type='checkbox']:not([toggle]):disabled {
  background-color: transparent;
}
[dark] input[type='checkbox']:not([toggle]):disabled {
  border-color: rgba(255, 255, 255, 0.4);
}
[light] input[type='checkbox']:not([toggle]):disabled {
  border-color: rgba(0, 0, 0, 0.4);
}
[light] input[type='checkbox']:not([toggle]):disabled:checked::after {
  border-color: rgba(0, 0, 0, 0.4);
}
[dark] input[type='checkbox']:not([toggle]):disabled:checked::after {
  border-color: rgba(255, 255, 255, 0.4);
}
[dark] input[type='checkbox']:not([toggle]):disabled:checked::-ms-check {
  color: rgba(255, 255, 255, 0.4);
}
[light] input[type='checkbox']:not([toggle]):disabled:checked::-ms-check {
  color: rgba(0, 0, 0, 0.4);
}
input[type='radio'] {
  border-radius: 50%;
}
input[type='radio']::after {
  content: '';
}
input[type='radio']::-ms-check {
  transition: all 100ms ease-out;
}
input[type='radio']::after {
  display: block;
  position: absolute;
  transition: all 100ms ease-out;
}
input[type='radio']::-ms-check {
  width: 10px;
  height: 10px;
  transform: scale(0);
  border: 2px solid white;
  box-sizing: border-box;
}
[dark] input[type='radio']::-ms-check {
  color: rgba(255, 255, 255, 0.8);
}
[light] input[type='radio']::-ms-check {
  color: #333;
}
input[type='radio']::after {
  width: 10px;
  height: 10px;
  transform: scale(0);
  left: 3px;
  top: 3px;
  border-radius: 50%;
}
[dark] input[type='radio']::after {
  background-color: rgba(255, 255, 255, 0.8);
}
[light] input[type='radio']::after {
  background-color: #333;
}
input[type='radio']:checked {
  border-color: currentColor;
}
input[type='radio']:checked::-ms-check {
  transform: scale(1);
}
input[type='radio']:checked::after {
  transform: scale(1);
}
[dark] input[type='radio']:checked:hover::-ms-check {
  color: #FFF;
}
[light] input[type='radio']:checked:hover::-ms-check {
  color: #000;
}
[dark] input[type='radio']:checked:hover::after {
  background-color: #FFF;
}
[light] input[type='radio']:checked:hover::after {
  background-color: #000;
}
[dark] input[type='radio']:checked:active::-ms-check {
  color: rgba(255, 255, 255, 0.6);
}
[light] input[type='radio']:checked:active::-ms-check {
  color: #666;
}
[dark] input[type='radio']:checked:active::after {
  background-color: rgba(255, 255, 255, 0.6);
}
[light] input[type='radio']:checked:active::after {
  background-color: #666;
}
[dark] input[type='radio']:not(:checked):not(:active):hover {
  border-color: #FFF;
}
[light] input[type='radio']:not(:checked):not(:active):hover {
  border-color: #000;
}
[dark] input[type='radio']:active {
  border-color: rgba(255, 255, 255, 0.6);
}
[light] input[type='radio']:active {
  border-color: #666;
}
input[type='checkbox'][toggle] {
  width: 44px;
  height: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  border-color: rgba(var(--theme-base), 0.8);
  background-color: transparent;
}
input[type='checkbox'][toggle]::after {
  display: block;
  position: absolute;
  transition: transform 0.1s ease-out;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
}
input[type='checkbox'][toggle]::after {
  background-color: rgba(var(--theme-base), 0.8);
}
input[type='checkbox'][toggle]:checked {
  border-color: transparent;
  background-color: currentColor;
}
input[type='checkbox'][toggle]:checked::after {
  background-color: #FFF;
  transform: translateX(24px);
}
input[type='checkbox'][toggle]:hover:not(:checked):not(:disabled):not(:active) {
  border-color: rgb(var(--theme-base));
}
input[type='checkbox'][toggle]:hover:not(:checked):not(:disabled):not(:active)::after {
  background-color: rgb(var(--theme-base));
}
[light] input[type='checkbox'][toggle]:hover:checked:not(:disabled):not(:active) {
  opacity: 0.7;
}
[dark] input[type='checkbox'][toggle]:hover:checked:not(:disabled):not(:active) {
  opacity: 0.9;
}
input[type='checkbox'][toggle]:active {
  border-color: transparent;
  background-color: rgba(var(--theme-base), 0.6);
}
input[type='checkbox'][toggle]:active::after {
  background-color: #FFF;
}
[light] input[type='checkbox'][toggle]:disabled::after {
  background-color: #a3a3a3;
}
[dark] input[type='checkbox'][toggle]:disabled::after {
  background-color: #666666;
}
input[type='checkbox'][toggle]:disabled:checked {
  border-color: transparent;
  background-color: rgba(var(--theme-base), 0.2);
}
input[type='checkbox'][toggle]:disabled:not(:checked) {
  border-color: rgba(var(--theme-base), 0.4);
  background-color: transparent;
}
select {
  margin-top: 4px;
  margin-bottom: 4px;
  height: 32px;
  padding-left: 6px;
  padding-bottom: 3px;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: -0.45px;
  border: 2px solid transparent;
  background-color: transparent;
  color: var(--primary);
  border-color: rgba(var(--theme-base), 0.4);
  background-color: rgba(var(--theme-base2), 0.4);
  /*&:active:not(:disabled) {
		.theme(
			{border-color: #666},
			{border-color: #999}
		);
	}*/
}
select:hover:not(:disabled) {
  border-color: rgba(var(--theme-base), 0.6);
  background-color: rgba(var(--theme-base2), 0.6);
  /*.theme-inherited(
			{border-color: #666},
			{border-color: #999}
		);*/
}
select:focus {
  border-color: var(--accent) !important;
}
select:disabled {
  border-color: transparent;
  background-color: rgba(var(--theme-base), 0.2);
}
select:invalid:focus,
select:invalid {
  color: red !important;
  border-color: red !important;
}
[dark] select:active:not(:disabled) {
  border-color: #666;
  background-color: #333;
}
[light] select:active:not(:disabled) {
  border-color: #999;
  background-color: #CCC;
}
[dark] select:focus:not(:disabled) {
  border-color: #666 !important;
}
[light] select:focus:not(:disabled) {
  border-color: #999 !important;
}
[dark] select option {
  background-color: #404040;
}
[light] select option {
  background-color: #f2f2f2;
}
[dark] select option:hover {
  background-color: #404040;
}
[light] select option:hover {
  background-color: #dadada;
}
[dark] select option:active {
  background-color: #555555;
}
[light] select option:active {
  background-color: #c2c2c2;
}
select + * {
  margin-left: 8px;
}
textarea,
input:not([type="radio"]):not([type="checkbox"]),
input:not([type]) {
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--primary);
  border-color: rgba(var(--theme-base), 0.4);
  background-color: rgba(var(--theme-base2), 0.4);
  /*&:active:not(:disabled) {
		.theme(
			{border-color: #666},
			{border-color: #999}
		);
	}*/
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.5px;
  padding: 0 9px;
  min-height: 32px;
  border-width: 2px;
  border-style: solid;
}
textarea:hover:not(:disabled),
input:not([type="radio"]):not([type="checkbox"]):hover:not(:disabled),
input:not([type]):hover:not(:disabled) {
  border-color: rgba(var(--theme-base), 0.6);
  background-color: rgba(var(--theme-base2), 0.6);
  /*.theme-inherited(
			{border-color: #666},
			{border-color: #999}
		);*/
}
textarea:focus,
input:not([type="radio"]):not([type="checkbox"]):focus,
input:not([type]):focus {
  border-color: var(--accent) !important;
}
textarea:disabled,
input:not([type="radio"]):not([type="checkbox"]):disabled,
input:not([type]):disabled {
  border-color: transparent;
  background-color: rgba(var(--theme-base), 0.2);
}
textarea:invalid:focus,
input:not([type="radio"]):not([type="checkbox"]):invalid:focus,
input:not([type]):invalid:focus,
textarea:invalid,
input:not([type="radio"]):not([type="checkbox"]):invalid,
input:not([type]):invalid {
  color: red !important;
  border-color: red !important;
}
textarea[transparent],
input:not([type="radio"]):not([type="checkbox"])[transparent],
input:not([type])[transparent] {
  background-color: transparent !important;
  border-color: transparent !important;
}
textarea::-ms-input-placeholder,
input:not([type="radio"]):not([type="checkbox"])::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-moz-input-placeholder,
input:not([type="radio"]):not([type="checkbox"])::-moz-input-placeholder,
input:not([type])::-moz-input-placeholder,
textarea::-webkit-input-placeholder,
input:not([type="radio"]):not([type="checkbox"])::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder {
  color: rgba(var(--theme-base), 0.6);
}
textarea {
  padding-top: 5px;
}
/*
// STRAIGHT OUTTA WINJS
.win-textbox,
.win-textarea {
  -ms-user-select: element;
  border-style: solid;
  border-width: 2px;
  border-radius: 0;
  margin: 8px 0px;
  width: 296px;
  min-width: 64px;
  min-height: 28px;
  background-clip: border-box;
  box-sizing: border-box;
  padding: 3px 6px 5px 10px;
  outline: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.333;
}
.win-textbox::-ms-value {
  margin: 0;
  padding: 0;
}
.win-textbox::-ms-clear,
.win-textbox::-ms-reveal {
  padding-right: 2px;
  margin-right: -8px;
  margin-left: 2px;
  margin-top: -8px;
  margin-bottom: -8px;
  width: 30px;
  height: 32px;
}
.win-textarea {
  resize: none;
  overflow-y: auto;
}
*/
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 4px;
}
progress[value]::-webkit-progress-bar {
  background-color: #ddd;
}
progress[value]::-webkit-progress-value {
  background-color: var(--accent);
}
[hoverable]:not(:disabled):hover {
  background-color: rgba(var(--theme-base), 0.1);
}
[clickable] {
  transition: transform 0.2s;
}
[clickable]:not(:disabled):active:hover {
  transition: transform 0s;
  transform: scale(0.98);
}
button {
  margin-top: 4px;
  margin-bottom: 4px;
}
button[icon]:not(:empty),
button:not([icon]) {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.4px;
  min-width: 90px;
  height: 32px;
  padding: 0 12px;
}
button[icon]:not(:empty)[icon]:not(:empty)::before,
button:not([icon])[icon]:not(:empty)::before {
  font-size: 16px;
  margin-right: 8px;
}
button[raised],
button:not([flat]):not(:empty) {
  transition: transform 0.2s;
  border: 2px solid transparent;
  background-color: rgba(var(--theme-base), 0.2);
}
button[raised]:not(:disabled):active:hover,
button:not([flat]):not(:empty):not(:disabled):active:hover {
  transition: transform 0s;
  transform: scale(0.98);
}
button[raised]:not(:disabled):active:hover,
button:not([flat]):not(:empty):not(:disabled):active:hover {
  border-color: transparent !important;
  background-color: rgba(var(--theme-base), 0.4);
}
button[raised]:not(:disabled):hover,
button:not([flat]):not(:empty):not(:disabled):hover {
  border-color: rgba(var(--theme-base), 0.4);
}
button[raised][accent],
button:not([flat]):not(:empty)[accent] {
  background-color: var(--accent) !important;
}
button[flat],
button:not([raised]):empty {
  transition: transform 0.2s;
}
button[flat]:not(:disabled):active:hover,
button:not([raised]):empty:not(:disabled):active:hover {
  transition: transform 0s;
  transform: scale(0.98);
}
button[flat]:not(:disabled):hover,
button:not([raised]):empty:not(:disabled):hover {
  background-color: rgba(var(--theme-base), 0.1);
}
button[flat][accent],
button:not([raised]):empty[accent] {
  color: var(--accent);
}
button[icon]:empty {
  min-width: 40px;
  min-height: 40px;
}
button[icon]:empty::before {
  width: 100%;
}
button[icon]:empty[small] {
  min-width: 32px;
  min-height: 32px;
}
button[icon]:empty[small]::before {
  font-size: 16px;
}
button[icon]:empty[raised] {
  padding: 0;
}
label {
  display: inline-flex;
  align-items: center;
}
label input[type="checkbox"],
label input[type="radio"] {
  margin-right: 12px;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  margin-left: 8px;
}
label + input[type="checkbox"],
label + input[type="radio"] {
  margin-left: 8px;
}
/*.fx-behavior-item-indent {
	&[indent] {
		@indentSize: 48px;
		padding-left: calc(@indentSize + 1rem);
		//@indentSize: 60px;
		//padding-left: calc(@indentSize);
	}
}*/
/*
.fx-behavior-item-metro-padding {
	.fx-behavior-item-padding(@itemPadding);
	@{layout-default} & {
		line-height: 20px;
		min-height: @itemMinHeight;
		//padding-top: @itemPadding;
		//padding-bottom: @itemPadding;
	}
	@{layout-default} & > [avatar] {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	@{layout-compact} & {
		line-height: 20px;
		min-height: 40px;
		//padding-top: 3px;
		//padding-bottom: 3px;
	}
	@{layout-compact} & > [avatar] {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	// some lists on desktop can contain extensive ammount of items
	// it is needed to have special layout for these lists
	@{layout-compact} &[micro] {
		font-size: 14px;
		line-height: 18px;
		min-height: 18px;
		//padding-top: 3px;
		//padding-bottom: 3px;
	}
}
*/
[fx-item-expandable] section,
[fx-item] {
  align-items: center;
  /*
	.fx-behavior-item-padding(@itemPadding);
	@{layout-default} & {
		line-height: 20px;
		min-height: @itemMinHeight;
	}
	@{layout-compact} & {
		line-height: 20px;
		min-height: 40px;
	}
	// some lists on desktop can contain extensive ammount of items
	// it is needed to have special layout for these lists
	@{layout-compact} &[micro] {
		font-size: 14px;
		line-height: 18px;
		min-height: 18px;
	}
*/
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 16px;
  min-height: 40px;
  /*&[icon]:before {
		margin-right: 24px;
	}*/
  /*&[multi-line][icon]:before {
		top: 10px;
	}*/
}
[fx-item-expandable] section[two-line][icon],
[fx-item][two-line][icon],
[fx-item-expandable] section[multi-line][icon],
[fx-item][multi-line][icon] {
  padding-left: calc(10px + 24px + 12px);
  flex-direction: column;
}
[fx-item-expandable] section[prominent],
[fx-item][prominent] {
  padding-top: 12px;
  padding-bottom: 12px;
  /*padding-left: 12px;
		padding-right: 12px;
		margin-left: -12px;
		margin-right: -12px;*/
}
[fx-item-expandable] section[compact],
[fx-item][compact] {
  padding-top: 4px;
  padding-bottom: 4px;
}
[fx-item-expandable] section[mini],
[fx-item][mini] {
  min-height: 32px;
}
[fx-item-expandable] section[micro],
[fx-item][micro] {
  font-size: 14px;
  line-height: 18px;
  min-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
}
[fx-item-expandable] section:not([compact]) > [avatar]:not([iconlike]),
[fx-item]:not([compact]) > [avatar]:not([iconlike]) {
  margin-top: 10px;
  margin-bottom: 10px;
}
[fx-item-expandable] section[compact] > [avatar]:not([iconlike]),
[fx-item][compact] > [avatar]:not([iconlike]) {
  margin-top: 2px;
  margin-bottom: 2px;
}
[fx-item-expandable] section > [avatar],
[fx-item] > [avatar] {
  margin-right: 8px;
  /*
		@{layout-default} & {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		@{layout-compact} & {
			margin-top: 2px;
			margin-bottom: 2px;
		}
*/
}
[fx-item-expandable] section > :not(:last-child),
[fx-item] > :not(:last-child),
[fx-item-expandable] section > [avatar][iconlike],
[fx-item] > [avatar][iconlike],
[fx-item-expandable] section[icon]:before,
[fx-item][icon]:before {
  margin-right: 12px;
}
[fx-item-expandable] section > input[type="radio"]:first-child,
[fx-item] > input[type="radio"]:first-child,
[fx-item-expandable] section > input[type="checkbox"]:first-child,
[fx-item] > input[type="checkbox"]:first-child {
  margin-left: 2px;
  margin-right: 14px;
}
[fx-item-expandable] section[two-line][icon]:before,
[fx-item][two-line][icon]:before,
[fx-item-expandable] section[multi-line][icon]:before,
[fx-item][multi-line][icon]:before {
  position: absolute;
  left: 10px;
}
[fx-item-expandable] section[two-line][icon]:before,
[fx-item][two-line][icon]:before {
  top: 50%;
  line-height: 0;
}
[fx-item-expandable] section button[icon]:empty,
[fx-item] button[icon]:empty {
  min-width: 40px;
  height: 40px;
  margin-top: -8px;
  margin-bottom: -8px;
}
flexus-view [fx-item-expandable] section a[icon]:empty:last-child,
flexus-view [fx-item] a[icon]:empty:last-child,
flexus-view [fx-item-expandable] section button[icon]:empty:last-child,
flexus-view [fx-item] button[icon]:empty:last-child {
  margin-right: -10px;
}
flexus-item-expandable,
[fx-item-expandable] {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
flexus-item-expandable > section[expand],
[fx-item-expandable] > section[expand] {
  padding-top: 0 !important;
  justify-content: flex-end;
}
flexus-item-expandable[expanded],
[fx-item-expandable][expanded] {
  background-color: rgba(var(--theme-base), 0.05);
}
flexus-item-expandable:not([expanded]) > section[expand],
[fx-item-expandable]:not([expanded]) > section[expand] {
  display: none !important;
}
/*
// only label and link items are explicitly clickable and hoverable
:not(flexus-toolbar):not([fx-toolbar]):not(flexus-drawer):not([fx-drawer]) {
	> label[fx-item],
	> a[fx-item] {
		.fx-clickable;
		.fx-hoverable;
		//cursor: default;
		color: inherit;
	}
}
*/
[toolbar] {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  /*
	progress[ring],
	[icon]:empty {
		.layout-simple({
			width: 68px;
		}, {
			width: 48px;
		});
	}
*/
}
[toolbar] h1 {
  flex: 1;
  margin: 0;
  letter-spacing: inherit;
}
[toolbar] input[transparent] {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  background-color: transparent;
  border: none;
}
[toolbar] hr {
  width: 32px;
  height: 20px;
  text-align: center;
  padding: 0;
  border: none;
}
[narrow] [toolbar] hr,
[toolbar] hr[narrow] {
  width: 8px;
}
[toolbar] hr:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
}
[toolbar] progress[ring],
[toolbar] [icon]:empty {
  width: 68px;
}
[toolbar][narrow] progress[ring],
[toolbar][narrow] [icon]:empty,
[toolbar] progress[ring][narrow],
[toolbar] [icon]:empty[narrow] {
  width: 48px;
}
[toolbar] progress[ring] {
  height: 24px;
}
[toolbar] [icon]::before {
  font-size: 20px !important;
}
[toolbar] a[icon],
[toolbar] button:not([disabled]) {
  background-color: transparent !important;
  border: none !important;
}
[toolbar] a[icon]:hover,
[toolbar] button:not([disabled]):hover {
  background-color: rgba(var(--theme-base), 0.1) !important;
}
[toolbar] a[icon]:active,
[toolbar] button:not([disabled]):active {
  background-color: rgba(var(--theme-base), 0.2) !important;
}
[toolbar] button {
  margin-top: 0;
  margin-bottom: 0;
  transform: none !important;
  min-width: inherit !important;
}
[toolbar] button[icon] {
  font-size: 12px !important;
  letter-spacing: 0 !important;
}
[toolbar] a[icon]:empty,
[toolbar] button {
  align-self: flex-start;
  min-height: 48px !important;
}
[toolbar] a[icon]:empty,
[toolbar] button[icon]:empty {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 14px !important;
}
[toolbar] a[icon]:empty[title]:after,
[toolbar] button[icon]:empty[title]:after {
  content: attr(title);
  display: none;
  line-height: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
[toolbar] a[icon]:empty[title][inline],
[toolbar] button[icon]:empty[title][inline] {
  width: auto;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  padding-top: 0 !important;
}
[toolbar] a[icon]:empty[title][inline]:before,
[toolbar] button[icon]:empty[title][inline]:before {
  margin-right: 8px;
}
[toolbar] a[icon]:empty[title][inline]:after,
[toolbar] button[icon]:empty[title][inline]:after {
  display: inline;
  white-space: nowrap;
  margin: 0;
}
[toolbar][expanded] [icon]:empty::after {
  display: block;
}
flexus-toolbar {
  font-size: 16px;
  font-weight: 400;
  /*
	progress[ring],
	[icon]:empty {
		.layout-simple({
			width: 68px;
		}, {
			width: 48px;
		});
	}
*/
}
flexus-toolbar h1 {
  flex: 1;
  margin: 0;
  letter-spacing: inherit;
}
flexus-toolbar input[transparent] {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  background-color: transparent;
  border: none;
}
flexus-toolbar hr {
  width: 32px;
  height: 20px;
  text-align: center;
  padding: 0;
  border: none;
}
[narrow] flexus-toolbar hr,
flexus-toolbar hr[narrow] {
  width: 8px;
}
flexus-toolbar hr:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
}
flexus-toolbar progress[ring],
flexus-toolbar [icon]:empty {
  width: 68px;
}
flexus-toolbar[narrow] progress[ring],
flexus-toolbar[narrow] [icon]:empty,
flexus-toolbar progress[ring][narrow],
flexus-toolbar [icon]:empty[narrow] {
  width: 48px;
}
flexus-toolbar progress[ring] {
  height: 24px;
}
flexus-toolbar [icon]::before {
  font-size: 20px !important;
}
flexus-toolbar a[icon],
flexus-toolbar button:not([disabled]) {
  background-color: transparent !important;
  border: none !important;
}
flexus-toolbar a[icon]:hover,
flexus-toolbar button:not([disabled]):hover {
  background-color: rgba(var(--theme-base), 0.1) !important;
}
flexus-toolbar a[icon]:active,
flexus-toolbar button:not([disabled]):active {
  background-color: rgba(var(--theme-base), 0.2) !important;
}
flexus-toolbar button {
  margin-top: 0;
  margin-bottom: 0;
  transform: none !important;
  min-width: inherit !important;
}
flexus-toolbar button[icon] {
  font-size: 12px !important;
  letter-spacing: 0 !important;
}
flexus-toolbar a[icon]:empty,
flexus-toolbar button {
  align-self: flex-start;
  min-height: 48px !important;
}
flexus-toolbar a[icon]:empty,
flexus-toolbar button[icon]:empty {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 14px !important;
}
flexus-toolbar a[icon]:empty[title]:after,
flexus-toolbar button[icon]:empty[title]:after {
  content: attr(title);
  display: none;
  line-height: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
flexus-toolbar a[icon]:empty[title][inline],
flexus-toolbar button[icon]:empty[title][inline] {
  width: auto;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  padding-top: 0 !important;
}
flexus-toolbar a[icon]:empty[title][inline]:before,
flexus-toolbar button[icon]:empty[title][inline]:before {
  margin-right: 8px;
}
flexus-toolbar a[icon]:empty[title][inline]:after,
flexus-toolbar button[icon]:empty[title][inline]:after {
  display: inline;
  white-space: nowrap;
  margin: 0;
}
flexus-toolbar[expanded] [icon]:empty::after {
  display: block;
}
@media (min-width: 600px) and (orientation: portrait), (min-height: 600px) and (orientation: landscape) {
  flexus-toolbar[win10simple] {
    --toolbar-background: transparent !important;
  }
  flexus-toolbar[win10simple] [icon="menu"] {
    display: none !important;
  }
  flexus-toolbar[win10simple] h1 {
    line-height: 1;
    padding-top: 1rem;
    font-size: 34px;
    font-weight: 200;
    margin-left: 0 !important;
  }
}
flexus-toolbar[multisection] > flexus-tabs {
  width: 100%;
}
flexus-toolbar:not([multisection]),
flexus-toolbar[multisection] > section {
  overflow: hidden;
  height: 48px;
  padding: 0 0.5rem 0 1rem;
  transition: height 0.2s, padding-bottom 0.2s;
}
flexus-toolbar:not([multisection]) *:not(hr),
flexus-toolbar[multisection] > section *:not(hr) {
  margin-left: 4px;
  margin-right: 4px;
}
flexus-toolbar:not([multisection]) *:first-child,
flexus-toolbar[multisection] > section *:first-child {
  margin-left: 0;
}
flexus-toolbar:not([multisection]) button,
flexus-toolbar[multisection] > section button,
flexus-toolbar:not([multisection]) [icon]:empty,
flexus-toolbar[multisection] > section [icon]:empty,
flexus-toolbar:not([multisection]) input[transparent],
flexus-toolbar[multisection] > section input[transparent],
flexus-toolbar:not([multisection]) hr,
flexus-toolbar[multisection] > section hr {
  margin: 0;
}
flexus-toolbar:not([multisection]) :not([icon]):not(:empty) + hr,
flexus-toolbar[multisection] > section :not([icon]):not(:empty) + hr {
  margin-left: 8px;
}
flexus-toolbar:not([multisection]) hr + :not([icon]):not(:empty),
flexus-toolbar[multisection] > section hr + :not([icon]):not(:empty) {
  margin-left: 12px;
}
flexus-toolbar:not([multisection]) > [icon]:empty:first-child,
flexus-toolbar[multisection] > section > [icon]:empty:first-child {
  margin-left: -1rem;
}
flexus-toolbar:not([multisection]) > [icon]:empty:first-child,
flexus-toolbar[multisection] > section > [icon]:empty:first-child,
flexus-toolbar:not([multisection]) > [icon]:empty[icon="more"],
flexus-toolbar[multisection] > section > [icon]:empty[icon="more"] {
  width: 48px;
}
flexus-toolbar:not([multisection]) > [icon]:empty:first-child + :not([icon]):not(:empty),
flexus-toolbar[multisection] > section > [icon]:empty:first-child + :not([icon]):not(:empty) {
  margin-left: calc(1rem - 12px);
}
flexus-toolbar:not([multisection]) > :last-child,
flexus-toolbar[multisection] > section > :last-child {
  margin-right: 0;
}
flexus-toolbar:not([multisection]) > [icon]:last-child,
flexus-toolbar[multisection] > section > [icon]:last-child,
flexus-toolbar:not([multisection]) > button:last-child,
flexus-toolbar[multisection] > section > button:last-child {
  margin-right: -0.5rem;
}
[subtitle] {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  font-weight: 700;
  color: #666;
  text-transform: uppercase;
}
*:not([toolbar]) + [subtitle] {
  margin-top: 0.5rem;
}
flexus-tabs {
  font-size: 16px;
  line-height: 18px;
}
[narrow] flexus-tabs,
flexus-tabs[narrow] {
  font-size: 14px;
  line-height: 16px;
}
flexus-view > *:nth-child(2) > flexus-tabs[subtle] {
  margin-top: -16px;
  margin-left: -12px;
}
flexus-tabs > a[href] {
  color: inherit !important;
}
flexus-tabs[subtle] > * {
  opacity: 0.5;
}
flexus-tabs[subtle] > *[selected] {
  opacity: 1;
}
flexus-tabs > * {
  transform: none !important;
  min-width: initial !important;
  transition: color 100ms;
  padding: 0 12px;
  height: 48px !important;
  color: inherit;
  background-color: transparent !important;
}
flexus-tabs:not([subtle]) > *:not(:disabled):not([disabled]) {
  background-color: transparent !important;
  border: none !important;
}
flexus-tabs:not([subtle]) > *:not(:disabled):not([disabled]):hover {
  background-color: rgba(var(--theme-base), 0.1) !important;
}
flexus-tabs:not([subtle]) > *:not(:disabled):not([disabled]):active {
  background-color: rgba(var(--theme-base), 0.2) !important;
}
flexus-tabs > *[icon]:not(:empty) {
  height: 68px !important;
}
flexus-tabs > *[icon]:not(:empty):before {
  font-size: 18px;
  margin-bottom: 6px;
}
flexus-tabs[small] {
  font-size: 14px;
  line-height: 16px;
}
flexus-tabs[small] > *[icon]:not(:empty):before {
  font-size: 14px;
}

/*# sourceMappingURL=neon.css.map */
