body {
	user-select: none;
	cursor: default;
}

/* TODO: MOVE TO FLEXUS */

[layout] {
	display: flex;
}
[layout]:not([vertical]) > div + div {
	margin-left: 1rem;
}
img[avatar] {
	background-color: transparent;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
[fx-item] > :last-child {
	margin-right: 0;
}
select {
	vertical-align: middle !important;
}

/* APP STYLE */

.players-per-group {
	width: 60px;
	margin-left: -10px;
}

.w30 {width: 30px}
.w40 {width: 40px}
.w50 {width: 50px}
.w60 {width: 60px}
.w70 {width: 70px}
.w80 {width: 80px}
.w90 {width: 90px}
.w100 {width: 100px}
.w110 {width: 110px}
.w120 {width: 120px}
.w130 {width: 130px}
.w140 {width: 140px}
.w150 {width: 150px}

table[datagrid] {
	margin: -4px;
}
table[datagrid] td {
	padding: 4px;
}
table[datagrid] tr td:first-child {
	padding-right: 26px;
	white-space: nowrap;
}