<template>
<flexus-view>

	<flexus-toolbar>
		<h1>WolfLAN: Project Anchora</h1>
		<button icon="refresh" click.trigger="refresh()"></button>
	</flexus-toolbar>

	<main style="padding: 24px">

		<div layout>
			<div>
				<h3>Online members</h3>
				<table datagrid>
					<tr>
						<td>Online members</td>
						<td>${membersInLobby.size}</td>
					</tr>
					<tr>
						<td>Players per group</td>
						<td><input type="number" value.bind="perGroup" class="players-per-group"></td>
					</tr>
					<tr>
						<td>Groups</td>
						<td>${groupCount.toFixed(1)}</td>
					</tr>
				</table>
			</div>
			<div style="margin-left: 2rem">
				<h3>Sort & Filter</h3>
				<div layout>
					<div>
						<label block>Show classes</label>
						<div><input type="checkbox" checked.bind="showClass.offense" change.trigger="signal('renderList')" id="ch1"><label for="ch1">Offense</label></div>
						<div><input type="checkbox" checked.bind="showClass.defense" change.trigger="signal('renderList')" id="ch2"><label for="ch2">Defense</label></div>
						<div><input type="checkbox" checked.bind="showClass.tank" change.trigger="signal('renderList')" id="ch3"><label for="ch3">Tanks</label></div>
						<div><input type="checkbox" checked.bind="showClass.support" change.trigger="signal('renderList')" id="ch4"><label for="ch4">Supports</label></div>
					</div>
					<div>
						<label block>Sort by</label>
						<select ref="sortBy">
							<option value="rank">Rank</option>
							<option value="tag">Battletag</option>
							<option value="name">Callsign</option>
						</select>
						<select ref="sortDirection">
							<option value="-1">Desc</option>
							<option value="1">Asc</option>
						</select>
					</div>
				</div>
			</div>
			<div style="margin-left: 2rem">
				<h3>Discord channel</h3>
				<label block>Channel ID</label>
				<input value.bind="voiceChannelId">
				<p>for more IDs see http://www.wolflan.com/voicechannels</p>
			</div>
		</div>

		<div fx-item>
			<div class="w40">Rank</div>
			<div class="w120">Name</div>
			<div class="w120">Battletag</div>
			<div class="w40">Accuracy</div>
			<div flex></div>
			<div text-right>Main class & heroes</div>
		</div>
		<hr>
		<div fx-item micro class="member"
		repeat.for="[slug, member] of membersInLobby">
			<img avatar src="img/rank/rank-${member.owStats.general.rankTier}.png">
			<div class="w120">${member.name}</div>
			<div class="w120">${member.battletagMain}</div>
			<div class="w40">${member.owStats.accuracy.toFixed(1)}</div>
			<div flex></div>
			<div class="w60">${member.owStats.general.mainClass}</div>
			<img avatar src="img/hero-portrait/${slug}.png"
			repeat.for="slug of member.owStats.general.mainHeroes">
		</div>

	</main>
</flexus-view>
</template>